@model IEnumerable<ProdutoViewModel>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Lista de Produtos</h3>
                    <div style="text-align:right; margin-top: 10px">
                        @if (User.IsInRole("Administrador"))
                        {
                            <a asp-controller="Produto" asp-action="Create" class="btn btn-success"> Novo Cadastro</a>
                        }
                    </div>
                </div>
            </div>
            <div class="card">

                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="d-none">
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FornecedorId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoriaId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Descricao)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PrecoCompra)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PrecoVenda)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MargemLucro)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Estoque)
                                </th>
                                <th>Ações</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="d-none">
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ResponseFornecedorOut.NomeFantasia)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ResponseCategoriaOut.Descricao)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Descricao)
                                        </td>
                                        <td style="text-align:right;">
                                            @Html.DisplayFor(modelItem => item.PrecoCompra)
                                        </td>
                                        <td style="text-align:right;">
                                            @Html.DisplayFor(modelItem => item.PrecoVenda)
                                        </td>
                                        <td style="text-align:right;">
                                            @Html.DisplayFor(modelItem => item.MargemLucro) %
                                        </td>
                                        <td style="text-align:center;">
                                            @Html.DisplayFor(modelItem => item.Estoque)
                                        </td>
                                        <td>
                                            @if (User.IsInRole("Administrador"))
                                            {
                                                <a asp-controller="Produto" asp-action="Edit" asp-route-id="@item.Id">
                                                    <i class="bi bi-pencil-square btn btn-primary" aria-hidden="true" title="Editar"></i>
                                                </a>
                                            }
                                            @if (User.IsInRole("Administrador") || User.IsInRole("Operador"))
                                            {
                                                <a asp-controller="Produto" asp-action="Details" asp-route-id="@item.Id">
                                                    <i class="bi bi-ticket-detailed btn btn-info" aria-hidden="true" title="Details"></i>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>