@model FornecedorViewModel

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Horizontal Form -->
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Detalhes de Fornecedor</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="Id" class="control-label">Id</label>
                                <span class="form-control">@Html.DisplayFor(model => model.Id)</span>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="RazaoSocial" class="control-label"></label>
                                <span class="form-control">@Html.DisplayFor(model => model.RazaoSocial)</span>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="NomeFantasia" class="control-label"></label>
                                <span class="form-control">@Html.DisplayFor(model => model.NomeFantasia)</span>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="CNPJ" class="control-label"></label>
                                <span class="form-control">@Html.DisplayFor(model => model.CNPJ)</span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="InscricaoEstadual" class="control-label"></label>
                                <span class="form-control">
                                    @Html.DisplayFor(model => model.InscricaoEstadual)
                                </span>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="Celular" class="control-label"></label>
                                <span class="form-control">
                                    @Html.DisplayFor(model => model.Celular)
                                </span>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="EnderecoEmail" class="control-label"></label>
                                <span class="form-control">
                                    @Html.DisplayFor(model => model.EnderecoEmail)
                                </span>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label asp-for="Logradouro" class="control-label"></label>
                                <span class="form-control">
                                    @Html.DisplayFor(model => model.Logradouro)
                                </span>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label asp-for="Bairro" class="control-label"></label>
                            <div class="form-group">
                                <span class="form-control">
                                    @Html.DisplayFor(model => model.Bairro)
                                </span>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <label asp-for="Cidade" class="control-label"></label>
                            <div class="form-group">
                                <span class="form-control">
                                    @Html.DisplayFor(model => model.Cidade)
                                </span>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <label asp-for="CEP" class="control-label"></label>
                            <div class="form-group">
                                <span class="form-control">
                                    @Html.DisplayFor(model => model.CEP)
                                </span>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <label asp-for="Estado" class="control-label"></label>
                            <div class="form-group">
                                <span class="form-control">
                                    @Html.DisplayFor(model => model.Estado)
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    @if (User.IsInRole("Administrador"))
                    {
                        <a asp-controller="Fornecedor" asp-action="Edit" asp-route-id="@Model.Id">
                            <i class="bi bi-pencil-square btn btn-primary" aria-hidden="true" title="Editar"></i>
                        </a>
                    }
                    <a asp-action="Index" class="btn btn-default float-right">Voltar</a>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
</div>
