@model IEnumerable<FornecedorViewModel>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Lista de Fornecedores</h3>
                    <div style="text-align:right; margin-top: 10px">
                        <a asp-controller="Fornecedor" asp-action="Create" class="btn btn-success"> Novo Cadastro</a>
                    </div>
                </div>
            </div>
            <div class="card">

                <!-- /.card-header -->
                <div class="card-body p-0">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="d-none">
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.NomeFantasia)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CNPJ)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Celular)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EnderecoEmail)
                                </th>
                                <th>Ações</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="d-none">
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NomeFantasia)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CNPJ)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Celular)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EnderecoEmail)
                                        </td>
                                        <td>
                                            <a asp-controller="Fornecedor" asp-action="Edit" asp-route-id="@item.Id">
                                                <i class="bi bi-pencil-square btn btn-primary" aria-hidden="true" title="Editar"></i>
                                            </a>
                                            <a asp-controller="Fornecedor" asp-action="Details" asp-route-id="@item.Id">
                                                <i class="bi bi-ticket-detailed btn btn-info" aria-hidden="true" title="Details"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
